button.iconButton {
    vertical-align: middle;
    margin: 0 0.7em;
    padding: 0.6em 0.6em;
    border: none;
    background: transparent;
    transition: all 0.2s;
    cursor: pointer;
}
    button.iconButton:not([disabled]):hover {
        background-color: white;
        color: #213547;
        margin: 0 0.7em;
        padding: 0.6em 0.6em;
    }

    button > span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        vertical-align: 2px;
        margin: 0 0.7em;
    }

        button.iconButton:not([disabled]):hover > span {
            color: #213547;
            
        }

    button > img {
        vertical-align: -0.4em;
        margin: 0;
        opacity: 0.7;
        width: 2em;
        height: 2em;
    }

        /* to remove flash, figure out:
           mask: url(logo.svg) no-repeat center; */
        button.iconButton:not([disabled]):hover > img {
            filter: invert(1);
        }

        button.iconButton:disabled {
            cursor: not-allowed;
        }

            button.iconButton:disabled > img {
                opacity: 0.3;
            }
