.prompt-main {
    min-height: 50vh;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    flex-direction: column;
    padding-top: 32px;
}

    .prompt-main > h1 {
        font-size: 64px;
        margin: 18px;
    }

        .prompt-main h1.subtle {
            opacity: 0.3;
            font-weight: 300;
        }

    .prompt-main .buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        padding-bottom: 120px;
    }