.prompt-main {
    height: calc(100vh - 20vh - 150px);
    padding-top: 10vh;
    padding-bottom: 10vh;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
}

    .prompt-main h1 {
        font-size: 64px;
        margin: 18px;
        width: 100%;
    }

        .prompt-main h1.subtle {
            opacity: 0.3;
            font-weight: 300;
            margin: 0;
        }

    .prompt-main > .buttons {
        display: block;
    }

    .prompt-main > .big {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }