/* shroud + positioning */
div.menuContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 90px;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    background: black;
    padding: 2em;
    overflow-y: auto;
}

    /* the little dropdown arrow from the settings icon */
    div.menuContainer::before {
        content: "";
        display: block;
        position: fixed;
        top: 75px;
        right: 38px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid black;
        font-size: 0;
        line-height: 0;
    }

    /* mini inset "drop shadow" */
    div.menuContainer::after {
        content: "";
        display: block;
        position: fixed;
        top: 90px;
        right: 0;
        left: 0;
        height: 20px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    div.menuContainer > * {
        color: white;
        text-align: left;
    }

    div.menuContainer h1,
    div.menuContainer h2,
    div.menuContainer h3 {
        margin: 0;
    }

