div.selectionGrid {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -8px;
}

    div.selectionGrid > div.gridItem {
        width: 150px;
        height: 150px;
        background-size: cover;
        margin-right: 8px;
        margin-bottom: 8px;
        position: relative;
        cursor: pointer;
        border-radius: 4px;
        filter: grayscale() brightness(70%);
        border: 3px solid black;
        transition: all 0.12s;
    }

        div.selectionGrid > div.gridItem.selected {
            filter: none;
            border-color: #4d7aa1;
        }

        div.gridItem > span {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(6px);
            padding: 6px;
            font-size: 11px;
            font-weight: bold;
            text-align: left;
            max-height: 50px;
            overflow: hidden;
        }

        div.gridItem > input[type=checkbox] {
            position: absolute;
            top: 4px;
            right: 4px;
            cursor: pointer;
            width: 20px;
            height: 20px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        }

            div.gridItem > input[type=checkbox]:not(:checked) {
                display: none;
            }
