div.chords {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
}

    div.chords h2 {
        margin-top: 0;
        font-size: 28px;
    }

    div.chords > * > .buttons {
        display: flex;
        flex-direction: row;
        margin: 0 auto;            
        font-size: 28px;
        place-content: center;
    }

        div.chords > * > .buttons > :nth-child(0) {
            
        }
    
        div.chords > * > .buttons > * {
            margin-left: 0.4em;
            margin-right: 0.4em;

        }

            div.chords .choice > :not(:hover) > span.dimmed {
                opacity: 0.5;
                filter: grayscale()
            }

.buttons.fixed {
    position: fixed;
    left: 3rem;
    right: 3rem;
    bottom: 2rem;
    width: auto;
    height: 6em;
    justify-content: space-between;
}

    .buttons.fixed > * {
        margin: 0;
        flex-grow: 1;
    }

    .buttons.fixed > :nth-child(1) {
        justify-content: flex-start;
    }

    .buttons.fixed > :nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }    

    .buttons.fixed > :nth-child(3) {
        justify-content: flex-end;
    }